.card{
  display: flex;
  flex-direction: column;
  background: $white;
  max-width: 22.5rem;
  min-height: 25rem;
  border-radius: 1rem;
  border: solid 1px black;
  box-shadow: 8px 7px 1px 1px black;
  padding: 0.8rem 1.1rem;
  margin: 0 1.5rem;

  .card-Image{
    width: 100%;
    min-height: 10rem;
    border-radius: 0.9rem;
  } 

  .card-Category{
    margin: 1rem 0;
    font-size: 0.9rem;
    max-width: 3.5rem;
    border-radius: 5px;
    font-weight: bolder;
    padding: 0.4rem 0.4rem;
    background: $yellow;
    color: $gray950;
  }
  .card-date{
    color: $gray950;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: $figtreesemi;
  }
  .card-Title{
    margin: 1rem 0;
    font-size: 1.4rem;
    font-family: $figtreeBold;
    font-weight: bolder;
    &:hover{
      color:$yellow;
      cursor: pointer;
    }
  }
  .card-Author{
    display: flex;
    margin: 1rem 0;

    img{
      width: 15%;
      margin-right: 0.9rem;
    }
    h2{
      font-size: 1.2rem;
      margin: 0.5rem;
    }
  }
}